<% content_for :title, "Administración-Dashboard" %>

<h1>Bienvenido al Panel de Administración</h1>
<p>Aquí puedes gestionar productos, usuarios y ventas.</p>

<nav>
  <ul>
    <li><%= link_to 'Productos', admin_products_path %></li>
    <li><%= link_to 'Usuarios', admin_users_path %></li>
    <li><%= link_to 'Ventas', admin_sales_path %></li>
  </ul>
</nav>
