<% if notice.present? %>
<p class="right-0 bottom-0 m-10 absolute bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded inline-block text-center" 
data-controller="alert" data-alert-target="alert">
<%= notice %>
</p>
<% end %>

<% if alert.present? %>
<p class="right-0 bottom-0 m-10 absolute bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded inline-block text-center" 
    data-controller="alert" data-alert-target="alert">
    <%= alert %>
</p>
<% end %>