<div id="<%= dom_id post %>" class=" flex-row p-5 mt-5 bg-white">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

</div>
