<div id="<%= dom_id @first %>">
  <p>
    <strong>Title:</strong>
    <%= @first.title %>
  </p>
  <p>
    <strong>Content:</strong>
    <%= @first.content %>
  </p>
  <%= link_to "Back to posts", posts_path %>
</div>
