<% content_for :title, "Posts" %>

<div class="flex-row">
  <div>
    <h1 class="text-3xl">Posts</h1>
    <div id="posts" class="ml-5 mt-5">
      <% @posts.each do |post| %>
            <div class=" bg-slate-1 shadow-2xl bg-white">
              <%= render post %>
              <p class= "shadow-mg ml-5 pb-5 font-semibold"><%= link_to "Show this post", post_path(post) %></p>
            </div>
      <% end %>
    <div class="mt-10">
      <%= link_to "New post", new_post_path, class: "font-semibold bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded inline-block text-center" %>
      <%= link_to "primer post xd", first_posts_path, class: "ml-5 font-semibold bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded inline-block text-center" %>
    </div>
  </div> 
</div>
