<div class=" bg-slate-1 shadow-2xl ">
  <%= render @post %>
  <div class=" bg-slate-1 font-semibold flex-col-reverse p-5 mt-50 bg-white">
    <p class=""><%= link_to "Edit this post", edit_post_path(@post) %></p>
    <p class=""><%= link_to "Back to posts", posts_path %></p>
    <p><%= button_to "Destroy this post", @post, method: :delete %></p>
  </div>
</div>